{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["vue", "@typescript-eslint", "prettier", "tailwindcss", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:vue/vue3-recommended",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "no-debugger": "error",
    "no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ], // 使用单引号
    "vue/multi-word-component-names": 0,
    "prettier/prettier": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "vue/script-setup-uses-vars": "off",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/enforces-negative-arbitrary-values": "warn",
    "tailwindcss/enforces-shorthand": "warn",
    "tailwindcss/migration-from-tailwind-2": "warn",
    "tailwindcss/no-arbitrary-value": "off",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/no-contradicting-classname": "error"
  }
}
